footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 128px 0 87px 0;
    font-family: var(--font-text);
    font-weight: lighter;
}

footer img {
    margin-bottom: 47px;
}