.c-header {
    background: url("../assets/img/banner-header.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.c-header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav {
    width: 50%;
}

.c-header__menu {
    justify-content: space-between;
}

.c-header__link {
    font-family: var(--font-text);
    font-weight: normal;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

.c-header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 0 0 75px 0;
}

.c-header__menu {
    display: flex;
    list-style: none;
}

.c-header__title h1 {
    padding: 0 0 34px 0;

    font-family: var(--font-title);
    font-size: 4em;
}

.c-header__description {
    padding: 0 0 87px 0;

    font-family: var(--font-text);
    font-weight: bold;
    font-size: 1.2em;

    color: #757272;

    width: 550px;
    text-align: center;
}

@media (max-width: 1280px) {
    .c-header__nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .c-header__title h1 {
        padding: 15px 0 34px 0;
        font-size: 3em;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .c-header__nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .c-header__title h1 {
        text-align: center;
    }

    .c-header__btn {
        padding: 10px;
    }
    .c-header__menu {
        flex-direction: column;
    }

    .c-header__link {
        display: none;
        /* Inserir hamburger */
    }

    .c-header__description {
        width: 100%;
        text-align: center;
    }
}
