header {
    background: url("../assets/img/banner-header.svg");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: #fff;
}

.nav-logo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 10px 0 36px 0;
}

li a {
    padding: 0 0 0 78px;
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: normal;
    font-size: 1.5em;

    text-decoration: none;

    color: #fff;
}

ul {
    display: flex;
    list-style: none;
}

.title-header {
    padding: 0 0 75px 0;
}

.title-header h1 {
    padding: 0 0 34px 0;

    font-family: var(--font-title);
    font-size: 4em;
}

.description {
    padding: 0 0 87px 0;

    font-family: var(--font-text);
    font-weight: bold;
    font-size: 1.2em;

    color: #757272;

    width: 550px;
    text-align: center;
}

.button {
    padding: 25px 120px;
    font-size: 1.1em;
    font-family: var(--font-text);

    color: #fff;
    text-decoration: none;

    border: none;
    border-radius: 3px;
    outline: none;

    background-color: #c56e07;
}


@media (max-width: 1280px) {

    .title-header h1 {
        padding: 15px 0 34px 0;
        font-size: 3em;
    }

    .nav-logo-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul {
        align-items: center;
        justify-content: space-between;
    }

    .nav nav ul li a {
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 284px;
    }

    .title-header h1 {
        text-align: center;
    }

    .button-header .button{
        padding: 10px;
    }

    .description {
        width: 100%;
        text-align: center;
    }
}
